// Colores 
$color-oscuro: #2C1A14;
$color-claro: #faf1c8;
$color-secundario-claro: #a5b8ce;
$color-secundario-oscuro: #6e4933;
$color-terciario-claro: #97aecb;
$color-destacado: #800e22;

// Tipografía
$fuente: "Inter", sans-serif;

