@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


body {
    font-family: $fuente;
    line-height: 1.6rem;
}

a,
li {
    text-decoration: none;
    list-style: none;
}